@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,700&display=swap");

.button {
    margin: 50px;
    width: 60px;
    height: 60px;
    cursor: pointer;
    background: #fff;
    overflow: hidden;
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}

.button span {
    font-size: 20px;
    font-weight: 500;
    line-height: 60px;
    margin-left: 10px;
}

.button:nth-child(1):hover .icon {
    background: #4CC764;
}

.button:nth-child(2):hover .icon {
    background: #e1306c;
}

.button:nth-child(3):hover .icon {
    background: #000000;
}

.button:nth-child(1) span {
    color: #4CC764;
}

.button:nth-child(2) span {
    color: #e1306c;
}

.button:nth-child(3) span {
    color: #000000;
}

.button .icon {
    width: 60px;
    height: 60px;
    text-align: center;
    border-radius: 50px;
    display: inline-block;
    transition: all 0.3s ease-in-out;
}

.button .icon i {
    font-size: 25px;
    line-height: 60px;
    transition: all 0.3s ease-in-out;
}

.button:hover i {
    color: #fff;
}

@media screen and (min-width:659.9px){
    .button {
        float: left;
    }
    .button:hover {
        width: 200px;
    }
}

@media screen and (max-width: 659.9px) {
    .button:nth-child(1) .icon {
        animation: color1 4s infinite ease-out;
    }
    
    .button:nth-child(2) .icon {
        animation: color2 4s infinite ease-out;
    }
    
    .button:nth-child(3) .icon {
        animation: color3 4s infinite ease-out;
    }
}

@keyframes color1 {
    0% {
        background: #fff;
        color: #000000;
    }
    10% {
        background: #fff;
        color: #000000;
    }
    40% {
        background: #4CC764;
        color: #fff;
    }
    60% {
        background: #4CC764;
        color: #fff;
    }
    90% {
        background: #fff;
        color: #000000;
    }
    100% {
        background: #fff;
        color: #000000;
    }
}

@keyframes color2 {
    0% {
        background: #fff;
        color: #000000;
    }
    10% {
        background: #fff;
        color: #000000;
    }
    40% {
        background: #e1306c;
        color: #fff;
    }
    60% {
        background: #e1306c;
        color: #fff;
    }
    90% {
        background: #fff;
        color: #000000;
    }
    100% {
        background: #fff;
        color: #000000;
    }
}

@keyframes color3 {
    0% {
        background: #fff;
        color: #000000;
    }
    10% {
        background: #fff;
        color: #000000;
    }
    40% {
        background: #000000;
        color: #fff;
    }
    60% {
        background: #000000;
        color: #fff;
    }
    90% {
        background: #fff;
        color: #000000;
    }
    100% {
        background: #fff;
        color: #000000;
    }
}